.searchContainer{
    display: flex;
    justify-content:end;
}

.searchBox{
    position: relative;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;

    border: none;
    background: none;
}

.searchInput{
    height: 35px;
    border-radius: 25px;
    padding: 5px 30px 5px 10px;
}